alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
asciidoc==10.1.1
asgiref==3.5.0
astroid==2.9.3
Babel==2.9.1
Beaker==1.11.0
btrfsutil==5.16
CacheControl==0.12.6
cairocffi==1.3.0
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
distlib==0.3.4
distro==1.6.0
Django==4.0.2
dnspython==2.2.0
docutils==0.16
evdev==1.4.0
filelock==3.4.2
html5lib==1.1
idna==3.3
imagesize==1.3.0
importlib-metadata==4.8.1
isort==5.10.1
jedi==0.18.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
lit==13.0.0.dev0
lutris==0.5.9.1
lxml==4.7.1
Mako==1.1.6
mallard-ducktype==1.0.2
Markdown==3.3.6
MarkupSafe==2.0.1
mccabe==0.6.1
meson==0.61.1
more-itertools==8.10.0
msgpack==1.0.3
ordered-set==4.0.2
packaging==20.9
parso==0.8.3
pep517==0.12.0
Pillow==9.0.0
platformdirs==2.4.1
ply==3.11
progress==1.6
psutil==5.9.0
pulsemixer==1.5.1
pycparser==2.21
Pygments==2.11.2
PyGObject==3.42.0
pylint==2.12.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytz==2021.3
PyYAML==5.4.1
qtile==0.20.0
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
team==1.0
toml==0.10.2
tomli==2.0.0
urllib3==1.26.8
virtualenv==20.13.0
webencodings==0.5.1
wrapt==1.13.3
xcffib==0.11.1
zipp==3.7.0
